<?xml version="1.0" encoding="UTF-8"?>
<?xml-model type="application/rss+xml" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<atom:link href="http://www.watson.local/rss.php" rel="self" type="application/rss+xml"/>
		<title>Watson</title>
		<link>{{url('home')}}</link>
		<description>Liste des 15 derniers liens publiés</description>
		{% for link in links %}
		<item>
			<title>{{link.title}}</title>
			<guid isPermaLink="true">http://watson.local{{ path('link', { 'id': link.id }) }}</guid>
			<description>{{link.desc}}</description>
		</item>
		{% endfor %}
	</channel>
</rss>